parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property App\\Models\\StudentProfile\:\:\$hard_copy_received\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Enrollment/EnrollmentHardCopyReceiptService.php

		-
			message: '#^Instanceof between App\\Models\\User and Illuminate\\Contracts\\Auth\\MustVerifyEmail will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Actions/Fortify/UpdateUserProfileInformation.php

		-
			message: '#^Using nullsafe property access "\?\-\>term_id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Actions/Integrations/Payments/PayMongoWebhookProcessor.php

		-
			message: '#^Access to an undefined property App\\Models\\CandidateScheduleRow\:\:\$conflict_payload\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Scheduling/CandidateScheduleRowReviewService.php

		-
			message: '#^Access to an undefined property App\\Models\\CandidateScheduleRow\:\:\$faculty_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Scheduling/CandidateScheduleRowReviewService.php

		-
			message: '#^Access to an undefined property App\\Models\\CandidateScheduleRow\:\:\$generation_run_id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Actions/Scheduling/CandidateScheduleRowReviewService.php

		-
			message: '#^Access to an undefined property App\\Models\\CandidateScheduleRow\:\:\$modality\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Scheduling/CandidateScheduleRowReviewService.php

		-
			message: '#^Access to an undefined property App\\Models\\CandidateScheduleRow\:\:\$section_delivery_group_id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Scheduling/CandidateScheduleRowReviewService.php

		-
			message: '#^Access to an undefined property App\\Models\\CandidateScheduleRow\:\:\$section_id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Actions/Scheduling/CandidateScheduleRowReviewService.php

		-
			message: '#^Access to an undefined property App\\Models\\CandidateScheduleRow\:\:\$subject_id\.$#'
			identifier: property.notFound
			count: 3
			path: app/Actions/Scheduling/CandidateScheduleRowReviewService.php

		-
			message: '#^Access to an undefined property App\\Models\\CandidateScheduleRow\:\:\$warning_payload\.$#'
			identifier: property.notFound
			count: 1
			path: app/Actions/Scheduling/CandidateScheduleRowReviewService.php
